*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: #182d3d;
}
/* header */
header{
    background-color: #132431;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}
header img{
    width: 60px;
}
label{
    color:white;
    margin-right: 5px;
}
/* main */
.container{
    width: 80%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 30px 0;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 220px;
    height: 300px;
    background: #000000;
    color:white;
    margin:20px;
    padding:20px;
}
.card img{
    width: 120px;
}
.card h4{
    font-size: 16px;
    letter-spacing:1px;
    word-wrap: break-word;
    width: 100%;
}
.card p{
    font-size: 14px;
    letter-spacing:1px;
}

    